#footer {
	padding: 0 10px 5px;
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 45px;
	width: 100%;
	background: @purple;
	color: white;
	text-align: left;

	#odalc_logo {
		width: 70px;
		margin-top: 5px;
	}
}