{% load staticfiles %}
{% load less %}
{% load template_extras %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inspire Oakland</title>

    <link rel="shortcut icon" href="{% static "media/odalc_16px.ico" %}" type="image/x-icon"/>
    <link rel="icon" href="{% static "media/ODALC-16px.png" %}" type="image/png"/>
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static "media/ODALC-57px.png" %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static "media/ODALC-72px.png" %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static "media/ODALC-117px.png" %}">

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}{% less "less/styles.less" %}" />
  </head>

  <body>
    <div id="header">
      <div class="overlay"></div>
      <div class="overlay-text">
        <div id="question">
          WHAT ABOUT <span class="oakland">OAKLAND</span> INSPIRES YOU?
        </div>
        <div id="input-box">
          <form id="submission-form" method="POST">
            {% csrf_token %}
            {% for error in submission_form.content.errors %}
              <div><small class="error">{{ error }}</small><div>
            {% endfor %}
            {# Below is a manually rendered version of using 'submission_form.content' #}
            <textarea id="message" name="content" maxlength="100" placeholder="Let the world know your answer!"></textarea>
            <div id="validation">
                <span id="char-length">100</span>
                <span id="error"></span>
            </div>
            <input type="hidden" name="_submission" value="Submit"/>
            <input type="submit" value="Submit" id="submit"/>
          </form>
        </div>
        <div id="prompt">
            Each year, graphic design students from Oakland Digital's INSPIRE program design billboards answering this question. The collection of INSPIRE designs our students produce each year represent the rich diversity, history, and resiliency of our community.
        </div>
      </div>

      <!--LOL HACK-->
      <div class="overlay-text-2">
        <div id="question">
          WHAT ABOUT <span class="oakland">OAKLAND</span> INSPIRES YOU?
        </div>
        <div id="input-box">
          <form method="POST">
            {% csrf_token %}
            <textarea id="message" name="" placeholder="Let the world know your answer!"></textarea>
            <input type="submit" value="Submit" id="submit">
          </form>
        </div>
        <div id="prompt">
            Each year, graphic design students from Oakland Digital's INSPIRE program design billboards answering this question. The collection of INSPIRE designs our students produce each year represent the rich diversity, history, and resiliency of our community.
        </div>
      </div>
    </div>

    <div id="success-modal" title="Basic modal dialog">
      <p>Thanks for submitting! Share with your friends!</p>
      <div id="tweet-wrapper">
          <a href="https://twitter.com/share" id="twitter-button" class="twitter-share-button" data-size="large" data-lang="en">Tweet</a>
      </div>
    </div>


    <div id="posts">
      <div id="navigation">
        <a href="/"><div class="option {% if is_top %}selected{% endif %}"><i class="fa fa-star"></i>Top</div></a>
        <a href="/?sort=hot"><div class="option {% if is_hot %}selected{% endif %}"><i class="fa fa-fire"></i>Hot</div></a>
        <a href="/?sort=new"><div class="option {% if is_new %}selected{% endif %}"><i class="fa fa-clock-o"></i>New</div></a>
      </div>

      {% for submission in submissions %}
        {% with post_state=request.session|get_session:submission.id %}
        <div id="{{ submission.id }}" class="post">
          <div class="date">{{ submission.submitted|date:"N d" }}</div>
          <div class="ribbon">
            {{ submission.points }}
          </div>
          <div class="points-section">

          </div>
          <div class="text-section">
            <div class="text">
              {{ submission.content }}
            </div>
          </div>
          <div class="vote-section">
            <div class="vote-button">
              <i class="fa fa-thumbs-up vote-up {% if post_state == 1 %}clicked{% endif %}" id="{{ submission.id }}_up"></i>
            </div>
            <div class="vote-button">
              <i class="fa fa-thumbs-down vote-down {% if post_state == -1 %}clicked{% endif %}" id="{{ submission.id }}_down"></i>
            </div>
          </div>
        </div>
        {% endwith %}
      {% endfor %}
    </div>

    <div id="footer">
      <div id="odalc-wrapper">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <a href="http://www.odalc.org/"><img id="odalc_logo" src="{% static 'media/odalc_logo_small.png' %}"></img></a>
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="NAKTVZUKWSPLU">
            <input type="submit" id="paypal-donate" value="Donate" name="submit" >
          </form>

      </div>
      <div id="bp-wrapper">
        <a href="http://www.calblueprint.org">
          <div class="powered_by">Powered by</div>
          <img class="spinner" id="bp-logo" src="{% static 'media/bp_logo_small.png' %}"></img>
        </a>
      </div>
      <div id="social-wrapper">
          <a href="http://www.fb.com/odalc"><i class="fa fa-facebook fa-2x"></i></a>
          <a href="http://www.twitter.com/odalc"><i class="fa fa-twitter fa-2x"></i></a>
          <a href="http://www.youtube.com/odalc"><i class="fa fa-youtube-play fa-2x"></i></a>
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/fast-click.js" %}"></script>
  </body>
</html>
