{% load staticfiles %}
{% load less %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oakland Digital</title>

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}{% less "less/styles.less" %}" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div id="header">
      <div class="overlay"></div>
      <div class="overlay-text">
        <div id="prompt">
          Each year, ODALC asks graphic design students to design a billboard that answers the question
        </div>
        <div id="question">
          WHAT ABOUT <span class="oakland">OAKLAND</span> INSPIRES YOU?
        </div>
      </div>

      <div class="overlay-text-2">
        <div id="prompt">
          Each year, ODALC asks graphic design students to design a billboard that answers the question
        </div>
        <div id="question">
          WHAT ABOUT <span class="oakland">OAKLAND</span> INSPIRES YOU?
        </div>
      </div>

    </div>

    <div id="input-box">
      <form method="POST">
        {% csrf_token %}
        {% for error in submission_form.content.errors %}
          <div><small class="error">{{ error }}</small><div>
        {% endfor %}
        {# Below is a manually rendered version of using 'submission_form.content' #}
        <textarea id="message" name="content"></textarea>
        <input type="submit" value="Let the world know your answer" id="submit" name="_submission"/>
      </form>
    </div>

    <div id="posts">
      {% for submission in submissions %}
        <div id="{{ submission.id }}" class="post">
          <div class="points-section">
            <div class="points">{{ submission.points }}</div>
            <div class="vote-buttons">
              <div class="vote-button"><button class="vote-up" type="button" id="{{ submission.id }}_up">+</button></div>
              <div class="vote-button"><button class="vote-down" type="button" id="{{ submission.id }}_down">-</button></div>
            </div>
          </div>
          <div class="text-section">
            <div class="text">
              {{ submission.content }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div id="footer">
      ODALC
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="{% static "js/app.js" %}"></script>
  </body>
</html>
